    <div style="height: 200px; background-color: #3d454f; color: white; position:relative; bottom:0; width:100%;margin-top: 20px; padding-top: 20px">
        <div class="row">
            <div class="large-3 columns">
                <ul style="font-weight: bold; text-transform: uppercase;">La Fontaines aux Couleurs</ul>
                <div>Acceuil
                    <br>Galerie
                    <br>Blog
                    <br>Evenements
                    <br>Contact
                </div>
            </div>
            <div class="large-3 columns">
                <ul style="font-weight: bold; text-transform: uppercase;">Contact</ul>
                <div>Martine Heidet
                    <br>Adresse
                    <br>Mail
                    <br>Téléphone
                </div>
            </div>
            <div class="large-3 columns">
                <ul style="font-weight: bold; text-transform: uppercase;">Réseaux sociaux</ul>
                <div>Facebook
                </div>
            </div>
            <div class="large-3 columns">
                <ul style="font-weight: bold; text-transform: uppercase;">Plus</ul>
                <div>
                    <div> <a style="line-height:50px; font-size:15px; color: white;" href="">Mentions légales</a></div>
                    <a style="line-height:50px; font-size:15px; color: white;" href="{{ path("login") }}">Administration du site</a>
                </div>
            </div>
        </div>

    </div>
