{% extends 'base.html.twig' %}

{% block body %}
  <title>{% block title %}Login{% endblock %}</title>

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}


  <div style="width: 100%;">
    <form action="{{ path('login_check') }}" method="post" style="width:400px;display:table; margin:auto;" >
      <div class="sign-in-form">
        <h4 class="text-center">Connexion</h4>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="_username" id="username" value="{{ last_username }}" class="sign-in-form-username"/>
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" class="sign-in-form-password"/>
          {% if error %}
            <div class="error">{{ error.message }}</div>
          {% endif %}
        <br>
        <input type="submit" style="color: white" name="connexion" class="sign-in-form-button" value="Connexion"/>

      </div>
    </form>
  </div>

{% endblock %}

{% block stylesheets %}
  <style>
    body, html {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      display:table;
    }
    body {
      display:table-cell;
      vertical-align:middle;
    }
    form {
      display:table;/* shrinks to fit content */
      margin:auto;
    }
  </style>

{% endblock %}