    <div class="footer">
        <div class="row">
            <div class="large-3 small-12 columns">
                <div style="font-weight: bold; text-transform: uppercase; margin-bottom: 8px;">Contact</div>
                <div style="color: #8b9cb4; margin-bottom: 20px">
                    <div><i class="fi-torso-female" style="font-size: 25px;  margin-right: 7px;"></i> Martine Heidet</div>
                    <div class="footer-alignment"><i class="fi-mail" style="font-size: 25px; margin-right: 7px"></i>  contact@martineheidet.fr</div>
                    <div class="footer-alignment" style="margin-bottom: 15px;"><i class="fi-telephone" style="font-size: 25px; margin-right: 7px"></i> 06 00 00 00 00</div>
                    <a href="" class="contact-footer-button">Contactez-moi</a>
                </div>
            </div>
            <div class="large-3 small-12 columns">
                <div style="font-weight: bold; text-transform: uppercase; margin-bottom: 8px;">Plan du site</div>
                <div style="color: #8b9cb4; line-height: 30px; margin-bottom: 20px">
                    <a style="font-size:15px; color: #8b9cb4;" href="homepage">Accueil</a><br>
                    <a style="font-size:15px; color: #8b9cb4;" href="">Galerie</a><br>
                    <a style="font-size:15px; color: #8b9cb4;" href="">Blog</a><br>
                    <a style="font-size:15px; color: #8b9cb4;" href="">Evenements</a><br>
                    <a style="line-height:20px; font-size:15px; color: #8b9cb4;" href="{{ path('contact') }}">Contact</a>
                </div>
            </div>
            <div class="large-3 small-12 columns">
                <div style="font-weight: bold; text-transform: uppercase; margin-bottom: 8px;">Réseaux sociaux</div>
                <a href="https://www.facebook.com/martine.heidet?fref=ts" style="color: white"><i class="fi-social-facebook" style="font-size: 50px; margin-right: 15px"></i></a>
                <a href="#" style="color: white"><i class="fi-social-instagram" style="font-size: 50px"></i></a>
            </div>
            <div class="large-3 small-12 columns">
                <div style="font-weight: bold; text-transform: uppercase; margin-bottom: 8px">Autres informations</div>
                <div style="color: #8b9cb4; line-height: 30px; margin-bottom: 20px">
                     <a style="font-size:15px; color: #8b9cb4;" href="">Mentions légales</a> <br>
                     <a style="font-size:15px; color: #8b9cb4;" href="{{ path("admin") }}">Administration du site</a>
                </div>
            </div>
        </div>

    </div>
