{% extends 'base.html.twig' %}

{% block contenu %}
    <main>
        <title>{% block title %}Connexion{% endblock %}</title>
        <h1>Connexion</h1>
        <div class="row">
            <div class="large-offset-4 large-4 columns">
                <form action="{{ path('login') }}" method="post" class="sign-in-form">
                  <label for="username" style="text-align: left; margin: 0">Nom d'utilisateur:</label>
                  <input type="text" id="username " name="_username" value="{{ last_username }}" />

                  <label for="password" style="text-align: left; margin: 0">Mot de passe:</label>
                  <input type="password" id="password" name="_password" />

                  <button type="submit" class="sign-in-form-button">Connexion</button>
                    {% if error %}
                        <div class="error">{{ error.message }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
{% endblock %}
