<style>


        body {
                font-family: 'Roboto', sans-serif;
                padding: 0;
                margin: 0;
        }

        small {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.4);
        }

        h1 {
                text-align: center;
                padding: 50px 0;
                font-weight: 800;
                margin: 0;
                letter-spacing: -1px;
                color: inherit;
                font-size: 40px;
        }

        h2 {
                text-align: center;
                font-size: 30px;
                margin: 0;
                font-weight: 300;
                color: inherit;
                padding: 50px;
        }

        .center {
                text-align: center;
        }

        section {
                height: 100vh;
        }

        /* NAVIGATION */
        ul {
                list-style: none;
                text-align: center;
        }
         ul li {
                display: inline-block;
        }
         ul li a {
                display: block;
                padding: 15px;
                text-decoration: none;
                color: #aaa !important;
                font-weight: 400;
                text-transform: uppercase;
                margin: 0 10px;
        }
         ul li a,
         ul li a:after,
         ul li a:before {
                transition: all .5s;
        }
         ul li a:hover {
                color: #555 !important;
        }


        /* stroke */
        .stroke ul li a,
        .fill ul li a {
                position: relative;
        }
        .stroke ul li a:after,
        .fill ul li a:after{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '.';
                color: transparent;
                background: #aaa;
                height: 1px;
        }

        .stroke ul li a:hover:after{
                width: 100%;
        }

        .fill ul li a {
                transition: all 2s;
        }

        .fill ul li a:after{
                text-align: left;
                content: '.';
                margin: 0;
                opacity: 0;
        }
        .fill ul li a:hover{
                color: #fff;
                z-index: 1;
        }
        .fill ul li a:hover:after{
                z-index: -10;
                animation: fill 1s forwards;
                -webkit-animation: fill 1s forwards;
                -moz-animation: fill 1s forwards;
                opacity: 1;
        }
        #select:after{
                width: 100%;
        }

        #select{
                color:#555!important;
        }

        /* Keyframes */
        @-webkit-keyframes fill {
                0% {
                        width: 0%;
                        height: 1px;
                }
                50% {
                        width: 100%;
                        height: 1px;
                }
                100% {
                        width: 100%;
                        height: 100%;
                        background: #333;
                }
        }

        /* Keyframes */
        @-webkit-keyframes circle {
                0% {
                        width: 1px;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        height: 1px;
                        z-index: -1;
                        background: #eee;
                        border-radius: 100%;
                }
                100% {
                        background: #aaa;
                        height: 5000%;
                        width: 5000%;
                        z-index: -1;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        border-radius: 0;
                }
        }
</style>
<nav>
        <div class="top-bar" style="background-color: white;   box-shadow: 0px 2px 10px lightgrey;">
                <div class="top-bar-left">
                        <ul class="menu" data-dropdown-menu style="padding-top: 8px; background-color: white">
                                <li style="background-color: white; font-family:'Master Works - Demo',serif; font-size:35px;" class="menu-text">Martine Heidet</li>
                        </ul>
                </div>
                <div class="top-bar-right stroke">
                        <ul class="menu" data-dropdown-menu style="color: black;padding-top: 15px; background-color: white; font-size: 15px">
                                <li><a {% if app.request.attributes.get('_route') == 'homepage' %}  id="select" {% endif %} href="{{ path("homepage") }}">Accueil</a></li>
                                <li><a {% if app.request.attributes.get('_route') == 'gallery' %} id="select" {% endif %}href="#">Galerie</a></li>
                                <li><a {% if app.request.attributes.get('_route') == 'blog' %}  id="select" {% endif %}href="#">Blog</a></li>
                                <li><a {% if app.request.attributes.get('_route') == 'event' %}  id="select" {% endif %}href="#">Evenements</a></li>
                                <li><a {% if app.request.attributes.get('_route') == 'contact' %} id="select" {% endif %} href="{{ path("contact") }}">Contact</a></li>
                        </ul>
                </div>
        </div>
</nav>
